//cloudstate
cloudstate-blue =        #15a9ce
cloudstate-blue-dkr =    #107f9b
cloudstate-dark-blue =  #0b5567

//orange
lb-orange =         #ff931e
lb-orange-dkr =     #f48122
lb-orange-ltr =     #ffa94b
// lb slate
lb-slate =          #1c3b47
lb-slate-dkr =      #0c323b
lb-slate-ltr =      #406972
//lb-blue
lb-blue =           #15a9ce
lb-blue-dkr =       #107f9b
lb-dark-blue =      #0b5567

//grey
lb-grey =            #454e57
lb-grey-dkr =        #31373B
//offwhite
lb-off-white =       #f5f6f7
lb-off-white-dkr =   #ebeef0
//light grey (only use if grey or offwhite aren't suitable)
lb-light-grey =     #c5d0d4
lb-light-grey-dkr = #9eb1b7
lb-light-grey-ltr = #f3f6f6



@charset "UTF-8"
/* fonts */
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700")
@import "oss-banners.css"

@font-face
  font-family: "icons"
  src: url("fonts/icons.eot")
  src: url("fonts/icons.eot?#iefix") format("embedded-opentype"),
    url("fonts/icons.woff") format("woff"),
    url("fonts/icons.ttf") format("truetype"),
    url("fonts/icons.svg#icons") format("svg")
  font-weight: normal
  font-style: normal

/* body */
body
  background: #fff
  padding: 0
  margin: 0
  font-weight: 400
  font-style: normal
  line-height: 1.4
  position: relative
  cursor: default
  font: 1rem "Source Sans Pro", "Helvetica Neue", Arial, sans-serif
  color: cloudstate-dark-blue
  font-smoothing: antialiased
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  -webkit-font-size-adjust: none
  text-rendering: optimizeLegibility

/* headers */
h1
  font-family: inherit
  font-size: 2.6rem
  font-weight: 400
  color: cloudstate-dark-blue
  margin-bottom: 0.4rem
  margin-top: 1.1rem

h1:first-child
  margin-top: 0

h2
  font-family: inherit
  font-size: 1.8rem
  font-weight: 400
  color: cloudstate-dark-blue
  margin-bottom: 0.2rem
  margin-top: 1.3rem

h2:first-child
  margin-top: 0

h3
  font-family: inherit
  font-size: 1.125rem
  font-weight: 700
  color: cloudstate-dark-blue
  margin-top: 1.3rem

h3:first-child
  margin-top: 0

h4
  font-family: inherit
  font-size: 1rem
  font-weight: 700
  color: cloudstate-dark-blue
  margin-top: 1.3rem

h4:first-child
  margin-top: 0

h5
  font-family: inherit
  font-size: 1rem
  color: cloudstate-dark-blue
  margin-top: 1.3rem

h5:first-child
  margin-top: 0

h6
  font-family: inherit
  font-size: 1rem
  color: cloudstate-dark-blue
  margin-top: 1.3rem

h6:first-child
  margin-top: 0

/* text */
p
  font-family: inherit
  font-size: 1rem
  color: cloudstate-dark-blue
  line-height: 1.45
  margin: 1rem 0rem

/* links */
a
  font-family: inherit
  color: cloudstate-blue
  text-decoration: none
  cursor: pointer

a:link
  color: cloudstate-blue

a:visited
  color: cloudstate-blue

a:hover
  color: cloudstate-blue
  text-decoration: underline

a:active
  color: cloudstate-blue

/* header anchors */
a.anchor .anchor-link:before
  content: "§"

a.go-to-source::before
  content: "📄"

.prettyprint .icon
  float: right

a.anchor .anchor-link,
.icon
  font-size: 18px
  font-family: "icons" !important
  font-style: normal !important
  font-weight: normal !important
  font-variant: normal !important
  text-transform: none !important
  speak: none
  line-height: 1.2
  vertical-align: middle
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

h1 > a.anchor,
h2 > a.anchor,
h3 > a.anchor,
h4 > a.anchor,
h5 > a.anchor,
h6 > a.anchor
  visibility: hidden
  position: absolute
  display: block
  width: 30px
  margin-left: -30px
  padding-right: 3px
  text-align: right
  text-decoration: none

h1:hover > a.anchor,
h2:hover > a.anchor,
h3:hover > a.anchor,
h4:hover > a.anchor,
h5:hover > a.anchor,
h6:hover > a.anchor
  visibility: visible
  color: inherit
  text-decoration: none

/* table */
table th
  background: cloudstate-blue
  border: solid 1px cloudstate-blue-dkr
  color: #fff

table td
  background: #ffffff
  border: solid 1px lb-off-white-dkr

/* code */
pre
  padding: 1rem !important
  border: 1px solid lb-off-white-dkr !important
  margin: 0 0 1rem 0 !important
  white-space: pre
  overflow: auto
  line-height: 0.9 !important

code
  line-height: 1.45 !important
  font-family: "Source Code Pro", Consolas, "Liberation Mono", Courier, monospace
  font-size: 0.85rem !important
  font-weight: normal !important
  padding: 0 !important

pre > code
  background: none
  border: none

p code
  background-color: lb-off-white
  border: none
  color: cloudstate-dark-blue
  padding: 0 0.2rem !important

li code
  border: none
  color: cloudstate-dark-blue
  padding: 0 0.2rem !important

a > code
  color: cloudstate-blue

/* Github-like */
pre.prettyprint span.str
  color: #183691

pre.prettyprint span.kwd
  color: #000000
  font-weight: bold

pre.prettyprint span.com
  color: #999988
  font-style: italic

pre.prettyprint span.typ
  color: #445588
  font-weight: bold

pre.prettyprint span.lit
  color: #009999

pre.prettyprint span.pun
  color: #000000
  font-weight: bold

pre.prettyprint span.pln
  color: #000000

pre.prettyprint span.tag
  color: navy

pre.prettyprint span.atn
  color: teal

pre.prettyprint span.atv
  color: #dd1144

pre.prettyprint span.dec
  color: #990000

pre.prettyprint span.var
  color: #000000

pre.prettyprint span.fun
  color: #990000

/* tabbed code snippets */
dl.tabbed
  position: relative

dl.tabbed dt
  float: left
  display: inline-block
  position: relative
  left: 1px
  margin-left: -1px

dl.tabbed dt.current
  z-index: 2

dl.tabbed dt a
  display: block
  border: 1px solid lb-off-white
  padding: 0 20px
  height: 30px
  line-height: 2
  color: cloudstate-blue
  text-decoration: none

dl.tabbed dt a:hover
  background: lb-off-white

dl.tabbed dt.first a
  border-top-left-radius: 5px

dl.tabbed dt.last a
  border-top-right-radius: 5px

dl.tabbed dt.current a
  background-color: lb-off-white
  border-color: lb-off-white-dkr
  border-bottom: 0
  padding-bottom: 1px

dl.tabbed dt.current a
  color: cloudstate-dark-blue
  outline: none

dl.tabbed dd
  position: absolute
  width: 100%
  left: 0
  top: 29px

dl.tabbed dd.current
  z-index: 1

dl.tabbed dd pre
  border-top-left-radius: 0 !important

dl.tabbed dd.has-note pre
  border-bottom: 0 !important
  border-bottom-left-radius: 0 !important
  border-bottom-right-radius: 0 !important
  margin-bottom: 0 !important

dl.tabbed dd.has-note blockquote
  color: cloudstate-dark-blue
  border: solid lb-off-white-dkr
  border-width: 1px 1px 1px 10px
  border-bottom-left-radius: 5px
  border-bottom-right-radius: 5px
  margin-top: 0
  font-style: italic

/* definition lists */
dl:not(.tabbed) dt
  float: left
  clear: left
  width: 120px
  text-align: right
  font-weight: bold
  color: cloudstate-blue

dl:not(.tabbed) dd
  margin: 0 0 0 130px
  padding: 0 0 0.5rem 0

/* blockquotes */
blockquote
  border-left: 4px solid rgb(221, 221, 221)
  margin: 1.5rem 0
  padding: 1rem 20px
  color: rgb(119, 119, 119)
  line-height: 1.4

blockquote p
  margin: 0
  line-height: 1.4rem

blockquote p ~ p
  margin-top: 1rem

blockquote p code
  background: #fff
  padding-right: 0.4rem !important

/* callout */
.callout
  border: none
  border-left: 10px solid cloudstate-blue
  background-color: rgba(64, 120, 192, 0.1)

.callout.warning
  border-color: #DB504A
  background-color: #fff3d9

.callout .callout-title
  font-weight: bold
  margin-bottom: 0.33rem
  color: cloudstate-dark-blue

.callout div ~ p
  margin-top: 0

.callout p ~ p
  margin-top: 1rem
  margin-bottom: 0

.callout p code
  background: #fff
  padding-right: 0.4rem !important

/* footnotes */
small
  display: block

/* logo links */
.logo .svg-icon-logo
  height: 24px
  width: 112px

.logo:hover
  text-decoration: none

.svg-icon-logo .svg-icon-logo-text
  fill: #ffffff

.logo:hover .svg-icon-logo .svg-icon-logo-text
  fill: #4078C0

/* site header */
.site-header
  background: cloudstate-blue
  height: 80px
  .title
    display: inline-block
    float: left
    height: 80px
    width: 180px
    line-height: 80px
    font-weight: 400
    font-size: 1.4rem
    border: 0px solid white

    a:link, a:visited
      color: #515151
    a:hover
      color: #515151
      text-decoration: none

.site-header .off-canvas-toggle
  float: left

.site-header .off-canvas-toggle .svg-icon-menu
  height: 40px
  width: 40px
  margin-top: 1rem
  margin-right: 1rem

.site-header .off-canvas-toggle .svg-icon-menu .svg-icon-menu-path
  fill: white

.site-header .off-canvas-toggle .svg-icon-menu:hover .svg-icon-menu-path
  fill: #eee

.site-header .logo
  float: right
  margin-top: 1rem
  text-align: right
  color: #000

/* page header */
.page-header
  background: #ffffff
  margin-top: 1rem

.page-header .nav-breadcrumbs
  border-bottom: 1px solid lb-off-white-dkr

.page-header .nav-breadcrumbs ul
  display: block
  overflow: hidden
  margin: 0
  padding: 15px
  list-style: none
  font-size: 0.9rem

.page-header .nav-breadcrumbs li
  float: left
  margin: 0

.page-header .nav-breadcrumbs li:before
  content: "/"
  margin: 0 5px
  color: #c2d2dc

.page-header .nav-breadcrumbs li:first-child:before
  content: ""
  margin: 0

.page-header .nav-breadcrumbs li a
  color: cloudstate-blue
  font-weight: normal

/* content */
.site-content .row
  max-width: 90rem

.page-content
  background: #ffffff
  min-height: 600px
  padding: 2.5rem 0

/* sidebar */
.sidebar
  background: #ffffff
  width: 100%
  padding: 0
  .nav-toc
    padding-top: 1rem

/* navigation */
.nav-home
  padding: 2rem 1rem .5rem 1rem

.nav-home a
  display: block
  color: cloudstate-dark-blue
  font-weight: bold
  font-size: 1.125rem

.nav-home a:hover
  text-decoration: none

.nav-home .version-number
  padding-left: 1.4rem
  font-size: 0.9rem

.nav-toc ul
  margin: 0
  padding: 0
  line-height: 2rem

.nav-toc ul > li
  list-style-type: none
  padding-left: 0
  line-height: 32px

.nav-toc ul > li a
  display: block
  color: cloudstate-dark-blue
  font-weight: 700
  font-size: 0.9rem
  padding-left: 1rem

.nav-toc ul > li a.active
  background: cloudstate-blue
  color: white
  

.nav-toc ul > li a:hover
  background: lb-light-grey
  text-decoration: none
  
.nav-toc ul > li a.active:hover
  background: cloudstate-blue
  color: white

.nav-toc ul > li > ul li
  margin-top: 0
  border-top: 0
  padding-top: 0
  padding-bottom: 0

.nav-toc ul > li > ul li a
  font-size: 0.9rem
  font-weight: normal
  text-transform: none
  margin-top: 0
  padding-left: 1.2rem

.nav-toc ul > li > ul > li > ul li a
  font-size: 0.8rem
  padding-left: 2rem

/* site navigation */
@media screen and (min-width: 64em)
  .off-canvas-wrapper
    /* Removes the overflow-x: hidden, which breaks the stick nav, when the screen is medium sized or greater.
           That's fine, we only display the off-canvas menu when the screen is smaller than medium. */
    overflow-x: visible

.site-nav-container
  position: sticky
  top: 0
  background: lb-off-white
  border-right: 1px solid lb-off-white-dkr
  display: flex
  align-items: stretch
  jusitify-content: space-between
  flex-direction: column
  min-height: 100vh
  padding: 0


.site-nav
  margin-top: 0
  margin-bottom: 1rem
  padding-bottom: 20px
  @media screen and (min-width: 1920px)
    .nav-toc ul > li a.active
      background-image: url(../images/cloudstate-icon-white.svg)
      background-repeat: no-repeat
      background-size: 16px
      background-position: right 5px center

/* off-canvas navigation colours */
.off-canvas

.off-canvas:focus
  outline: none

.off-canvas-nav
  padding: 0

.off-canvas-nav .nav-home
  background: #ffffff

.off-canvas-nav .nav-toc
  background: #ffffff

.off-canvas-nav .nav-toc ul > li

.off-canvas-nav .nav-toc ul > li a

.off-canvas-nav .nav-toc ul > li a.active

.off-canvas-nav .nav-toc ul > li a:hover

.off-canvas-nav .nav-toc ul > li a.active:hover

.off-canvas-nav .nav-toc ul > li > ul li
  border-top: 0

/* page navigation */
.page-nav
  background: #ffffff

.page-nav .nav-title
  display: block
  color: #9eb1b7
  font-weight: bold
  font-size: 0.8rem
  padding-left: 1rem

.page-nav .nav-toc
  background: #ffffff

.page-nav .nav-toc ul > li
  border-top: 0

.page-nav .nav-toc ul > li a.active
  background: cloudstate-blue
  color: #ffffff

.page-nav .nav-toc ul > li a.active:hover
  background: cloudstate-blue

/* navigation next */
.nav-next
  background: lb-off-white
  border-left: 10px solid cloudstate-blue
  margin-top: 40px
  padding: 1em 20px

.nav-next p
  display: inline
  color: cloudstate-dark-blue
  font-style: italic

.nav-next a
  color: cloudstate-blue
  font-weight: normal

/* table of contents -- ordered */
.toc a
  color: cloudstate-blue
  font-weight: normal

.toc ol li
  color: #778a99

.toc > ol > li > ol
  list-style-type: lower-alpha

.toc > ol > li > ol > li > ol
  list-style-type: lower-roman

.toc.main > ol > li
  margin-top: 0.5rem
  font-size: 1.2rem

.toc.main > ol > li
  counter-increment: root

.toc.main > ol > li > ol
  counter-reset: subsection
  list-style-type: none
  margin-left: 2rem

.toc.main > ol > li > ol > li
  counter-increment: subsection

.toc.main > ol > li > ol > li:before
  content: counter(root) "." counter(subsection) ". "
  margin-left: -2rem
  padding-right: 0.25rem

.toc.main > ol > li > ol > li > ol
  list-style-type: lower-alpha

.toc.main > ol > li > ol > li > ol > li > ol
  list-style-type: lower-roman

/* table of contents -- unordered */
.toc ul li
  color: #778a99

.toc.main > ul
  margin-left: 0
  padding-bottom: 2rem
  border-bottom: 1px solid lb-off-white

.toc.main > ul > li
  margin-top: 2rem
  border-top: 1px solid lb-off-white
  padding-top: 2rem
  list-style-type: none

.toc.main > ul > li > a
  font-weight: bold

.toc.main > ul > li > ul
  margin-top: 1rem

.toc.main > ul > li > ul > li
  list-style-type: disc

.toc.main > ul > li > ul > li > a
  font-weight: normal
  text-transform: none

.toc.main > ul > li > ul > li > ul > li
  list-style-type: circle

/* site footer */
.site-footer
  padding: 6rem 0 3rem 0
  background: #15a9ce
  text-align: center
  color: white

.site-footer img
  max-width: 160px

.site-footer p
  color: white
  font-size: .875rem

.site-footer a
  color: white

.site-footer a:visited
  color: white

.site-footer a:hover
  color: white

.source-github
  padding: 10px
  padding-top: 30px
  margin-top: 20px
  border-top: 1px solid #cccccc

.source-github a
  font-weight: bold