*#
*.md=
*.log
*.orig
*.jfr
*.iml
*.ipr
*.iws
*.pyc
*.vim
*/project/boot
*/project/build/target
*~
.#*
.*.swp
.DS_Store
.cache
.classpath
.codefellow
.ensime*
.eprj
.history
.ideaq
.manager
.multi-jvm
etags
lib_managed
logs
manifest.mf
project/plugins/project
src_managed
storage
tags
target
target-sbt
node_modules
