*#
*.md=
*.log
*.orig
*.jfr
*.iml
*.ipr
*.iws
*.pyc
*.vim
*/project/boot
*/project/build/target
*~
.#*
.*.swp
.bloop
.DS_Store
.cache
.classpath
.codefellow
.ensime*
.eprj
.history
.idea
.ideaq
.manager
.metals
.multi-jvm
.nyc_output
etags
lib_managed
logs
manifest.mf
node_modules
null
null/*
project/plugins/project
src_managed
storage
tags
target
target-sbt
