version: 2.1
# CircleCi Build Config for CloudState
commands:
  setup_sbt:
    description: "Set up sbt"
    parameters:
      version:
        type: string
        default: "1.3.13"
    steps:
      - run:
          name: Install sbt
          command: |
            curl -L -o sbt-<< parameters.version >>.deb https://dl.bintray.com/sbt/debian/sbt-<< parameters.version >>.deb
            sudo dpkg -i sbt-<< parameters.version >>.deb
            rm sbt-<< parameters.version >>.deb

  save_sbt_cache:
    description: "Save sbt cache"
    steps:
      - save_cache:
          key: sbt-cache-01
          paths:
            - "~/.ivy2/cache"
            - "~/.sbt"
            - "~/.cache/coursier"

  restore_sbt_cache:
    description: "Restore sbt cache"
    steps:
      - restore_cache:
          key: sbt-cache-01

  setup_minikube:
    description: "Set up Minikube"
    steps:
      - run:
          name: Install dependencies
          command: sudo apt-get update && sudo apt-get -qq -y install conntrack
      - run:
          name: Install Minikube
          command: bin/prepare-minikube-linux.sh

jobs:
  native-image-it-test:
    machine: true
    resource_class: large
    description: "native image tck tests"
    steps:
      - checkout
      - setup_sbt
      - restore_sbt_cache
      - run:
          name: Run TCK with native image
          command: |
            sbt -Dconfig.resource=native-image.conf \
              'set concurrentRestrictions in Global += Tags.limitAll(1)' \
              'set scalafmtOnCompile := false' \
              'dockerBuildNativeDevMode publishLocal' \
              tck/it:test
      - save_sbt_cache

  native-image-smoke-test:
    parameters:
      proxy-store:
        type: string
        default: "inmemory"
      install-postgres:
        type: boolean
        default: false
      install-cassandra:
        type: boolean
        default: false
    machine: true
    resource_class: large
    steps:
      - checkout
      - setup_sbt
      - restore_sbt_cache
      - setup_minikube
      - run:
          name: Deploy Cloudstate (<< parameters.proxy-store >>)
          command: bin/deploy-cloudstate.sh --native << parameters.proxy-store >>
      - when:
          condition: << parameters.install-postgres >>
          steps:
            - run:
                name: Install Postgres
                command: bin/install-postgres.sh
      - when:
          condition: << parameters.install-cassandra >>
          steps:
            - run:
                name: Install Cassandra
                command: bin/install-cassandra.sh
      - run:
          name: Run shopping cart test (<< parameters.proxy-store >>)
          command: bin/run-java-shopping-cart-test.sh << parameters.proxy-store >>

workflows:
  native-image-tests:
    jobs:
      - native-image-it-test:
          name: Native-image TCK integration tests
      - native-image-smoke-test:
          name: Native-image InMemory smoke test
          proxy-store: InMemory
      - native-image-smoke-test:
          name: Native-image Postgres smoke test
          proxy-store: Postgres
          install-postgres: true
      - native-image-smoke-test:
          name: Native-image Cassandra smoke test
          proxy-store: Cassandra
          install-cassandra: true
